.info {
	max-width: 44.4rem;
	&__title-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title-line {
		@include line;
		&_services {
			width: 5.5em;
			height: 0.2rem;
			margin-left: 0.4em;
		}
	}
	&__descr-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 2.2rem;
		gap: 2.5rem;
	}
	&__descr {
		font-size: var(--font-size-paragraph);
		line-height: calc(var(--font-size-paragraph) + 1rem);
		color: var(--color-paragraph);
		& > span {
			font-weight: bold;
		}
	}
}
