.info {
	width: 44.4rem;
	&__title-line {
		display: inline-flex;
		vertical-align: middle;
		width: 5.5em;
		height: 0.2rem;
		margin-left: 0.4em;
		background-color: var(--color-line);
		border-radius: 0.15rem;
	}
	&__descr-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 2.2rem;
		gap: 2.5rem;
	}
	&__descr {
		font-size: var(--font-size-descr-m);
		line-height: calc(var(--font-size-descr-m) + 1rem);
		color: var(--color-paragraph);
	}
}
