.promo {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	background: linear-gradient(
			180deg,
			#f1f1f1 0%,
			#f0f2f1 16.25%,
			#ebedec 43.26%,
			#e6e8e7 72.5%,
			#dee2e1 100%
		),
		center center/cover no-repeat;
	z-index: 1;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		position: absolute;
		z-index: -1;
		background: url("../img/bitmaps/bg/conditioner.webp") 44.5vw
			center/cover no-repeat;
	}
	&__title {
		text-align: end;
		&::after {
			content: "";
			position: absolute;
			right: calc(var(--font-size-title-xxxxl) * 5.6);
			bottom: calc(var(--font-size-title-xxxxl) * 0.55);
			width: calc(var(--font-size-title-xxxxl) * 2.5);
			height: 0.3rem;
			background-color: var(--color-line);
			border-radius: 0.15rem;
		}
	}
	&__btn {
		margin-top: 6.3rem;
	}
	&__inner {
		width: 52.4rem;
		padding: 16.7rem 0 6.4rem 0;
	}
	&__header {
		display: flex;
		flex-direction: column-reverse;
		justify-content: start;
		align-items: start;
	}
	&__descr-wrapper {
		margin-top: 2rem;
		display: flex;
		justify-content: start;
		align-items: start;
	}
	&__descr {
		font-size: var(--font-size-descr-xl);
		line-height: calc(var(--font-size-descr-xl) + 1rem);
		color: var(--color-descr-light);
		text-rendering: optimizeLegibility;
		font-weight: 400;
	}
	&__dots {
		height: 1rem;
		margin: 1.1rem 1.2rem 0 0;
	}

	&__contacts {
		margin-top: 5rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__gps-wrapper,
	&__tel-wrapper {
		max-width: 20rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__tel-wrapper_mobile {
		display: none;
	}
	&__gps-icon,
	&__tel-icon {
		margin-right: 2.2rem;
		height: 3.2rem;
	}
	&__gps-info,
	&__tel-info a {
		display: flex;
		font-size: var(--font-size-contact);
		line-height: 1.5;
		color: var(--color-text-contact);
		text-decoration: none;
		text-rendering: optimizeLegibility;
		font-weight: 400;
	}
}
