@media (max-width: 992px) {
	.promo {
		&__btn {
			margin-top: 4.5rem;
		}
		&__inner {
			width: 44.2rem;
			padding: 14.8rem 0 6.4rem 0;
		}
		&__descr-wrapper {
			margin-top: 3rem;
		}
		&__contacts {
			margin-top: 4.6rem;
		}
	}
}

@media (orientation: portrait) {
	.promo {
		height: auto;
		background: linear-gradient(
				270deg,
				#f2f2f2 0.09%,
				#f0f2f1 17.41%,
				#efefef 35.53%,
				#eaeceb 51.42%,
				#e7e8ea 68.94%,
				#e2e6e5 82.21%,
				#dee2e1 99.91%
			),
			center center/contain no-repeat;
		&::before {
			width: 200%;
			bottom: -50%;
			top: unset;
			right: -48.5%;
			background: url("../img/bitmaps/bg/conditioner.webp") center
				center/contain no-repeat;
			transform: rotate(90deg);
		}
		&__inner {
			margin: 0 auto;
			padding: 14.8rem 0 83vmin 0;
		}
	}
}

@media (max-width: 576px) {
	.promo {
		height: auto;
		&__inner {
			margin: 0 auto;
			width: auto;
			max-width: 32rem;
			padding: 14.8rem 0 83vmin 0;
		}
		&__header {
			width: 28.7rem;
			margin: 0 auto;
		}
		&__contacts {
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 3.3rem 1rem;
		}
		&__tel-wrapper_mobile {
			display: flex;
		}
		&__tel-wrapper_desktop > &__tel-info a:not(:first-child) {
			display: none;
		}
		&__gps-wrapper {
			max-width: none;
		}
		.promo__gps-icon,
		.promo__tel-icon {
			margin-right: 1.2rem;
			height: 2rem;
		}
	}
}

@media (max-width: 359px) {
	.promo {
		&__inner {
			max-width: 28rem;
			padding: 13rem 0 85vmin 0;
		}
		&__header {
			width: 25.4rem;
		}
		&__dots {
			height: 0.8rem;
		}
		&__descr-wrapper {
			margin-top: 2rem;
		}
		&__contacts {
			margin-top: 2.5rem;
			gap: 2rem 1rem;
		}
	}
}
