.show {
	display: flex;
}
.hide {
	display: none;
}

.open {
	display: flex;
	overflow: hidden;
}
.close {
	display: none;
	overflow: visible;
}

.ripple {
	position: absolute;
	background: #fff;
	transform: translate(-50%, -50%);
	pointer-events: none;
	border-radius: 50%;
	animation: ripple 0.6s linear;
}
