:root {
	--color-main: #d9fadd;
	--color-line: #78c081;
	--color-line-s: #bee1c2;
	--color-elem: #fff;
	--color-text-btn: #fff;
	--color-text-picture: #fff;
	--color-text-contact: #7b897d;

	--color-title-dark: #495e4c;
	--color-title-light: #78c081;
	--color-descr-dark: #495d4c;
	--color-descr-light: #7ca381;
	--color-descr-light-rgb: 124, 163, 129;
	--color-paragraph: #848484;

	--color-btn-enabled: #5ccd6a;
	--color-btn-disabled: #9cd3a3;
	--color-btn-hover: #54e165;
	--color-btn-border-light: rgba(255, 255, 255, 0.45);
	--color-btn-border-dark: rgba(120, 192, 129, 0.25);
	--color-bg-modal: rgba(217, 250, 221, 0.55);
	--color-bg-circle: rgba(186, 255, 195, 0.5);

	--color-tab-noactive: #7ca281;

	--font-size-title-xxxxl: 6.4rem;
	--font-size-title-xxxl: 4.5rem;
	--font-size-title-modal: 4rem;
	--font-size-title-xxl: 3.5rem;
	--font-size-title-xl: 2.6rem;
	--font-size-title-l: 2.4rem;
	--font-size-title-m: 2.1rem;
	--font-size-title-s: 1.8rem;

	--font-size-descr-xl: 2.2rem;
	--font-size-descr-l: 2rem;
	--font-size-descr-m: 1.6rem;
	--font-size-descr-s: 1.4rem;

	--font-size-paragraph: 1.6rem;

	--font-size-item-xl: 2.4rem;
	--font-size-item-l: 1.6rem;
	--font-size-item-m: 1.5rem;
	--font-size-item-s: 1.4rem;

	--font-size-btn-l: 1.7rem;
	--font-size-btn-m: 1.5rem;
	--font-size-btn-s: 1.4rem;

	--font-size-contact: 1.6rem;
	--font-size-contact-time-modal: 1.6rem;
	--font-size-form: 1.4rem;

	--animation: fadeIn;
}

@media (max-width: 1440px) {
	:root {
		--font-size-descr-l: 1.8rem;
	}
}

@media (max-width: 992px) {
	:root {
		--font-size-title-xxxxl: 5.4rem;
		--font-size-title-xxxl: 4rem;
		--font-size-descr-xl: 1.9rem;
		--font-size-contact: 1.5rem;
	}
}

@media (max-width: 576px) {
	:root {
		--font-size-title-xxxxl: 3.6rem;
		--font-size-title-xxxl: 2.8rem;
		--font-size-title-modal: 3rem;
		--font-size-title-xxl: 2.8rem;
		--font-size-descr-xl: 1.8rem;
		--font-size-descr-l: 1.6rem;
		--font-size-paragraph: 1.4rem;
		--font-size-item-l: 1.4rem;
		--font-size-contact: 1.4rem;
	}
}

@media (max-width: 369px) {
	:root {
		--font-size-title-xxl: 2.5rem;
	}
}

@media (max-width: 359px) {
	:root {
		--font-size-title-xxxxl: 3.1rem;
		--font-size-title-xxxl: 2.5rem;
		--font-size-title-modal: 2.5rem;
		--font-size-title-xl: 2.2rem;
		--font-size-descr-xl: 1.58rem;
		--font-size-descr-l: 1.5rem;
		--font-size-item-xl: 2rem;
		--font-size-contact: 1.3rem;
		--font-size-btn-l: 1.4rem;
	}
}
