@media (max-width: 576px) {
	.modal {
		&__form-container {
			margin-top: 1.5rem;
		}
		&__content {
			&_feedback {
				max-width: 33rem;
				padding: 3rem 0 1.5rem 0;
			}
			&_contacts {
				max-width: 37rem;
				padding: 3rem 0 0 0;
			}
		}
		&__title {
			margin: 0 3rem;
		}
		&__inner {
			padding: 3rem;
		}
		&__contacts {
			margin-top: 4rem;
			align-items: start;
			gap: 1.5rem;
		}
	}
}

@media (max-width: 375px) {
	.modal {
		&__content {
			&_feedback {
				padding: 3rem 0 0 0;
			}
		}
	}
}

@media (max-width: 359px) {
	.modal {
		&__form {
			margin-top: 1rem;
		}
		&__content {
			&_feedback,
			&_contacts {
				padding: 2.5rem 0 0 0;
			}
		}
		&__descr {
			display: none;
		}
		&__reception {
			margin-top: 0;
		}
	}
}
