@media (max-width: 1200px) {
	.btn {
		&_connect {
			display: none;
		}
	}
}

@media (max-width: 992px) {
	.btn {
		&_burger,
		&_leave {
			display: inline-flex;
		}
		&__element {
			padding: 3.2rem 10.4rem;
		}
	}
}

@media (max-width: 576px) {
	.btn {
		&_leave {
			width: 100%;
			border-radius: 3rem;
		}
		&__element {
			padding: 2rem 3rem;
			border-radius: 2rem;
			letter-spacing: unset;
		}
	}
}

@media (max-width: 359px) {
	.btn {
		&__element {
			padding: 2.2rem 3rem;
		}
		&__burger-icon-container {
			margin: 0.8rem;
			padding: 1.5rem 1.1rem;
		}
		&__burger-icon {
			height: 1.5rem;
		}
	}
}
